<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active disabled"><h5>Categories</h5></button>
        <button type="button" class="list-group-item list-group-item-action">Electronics</button>
        <button type="button" class="list-group-item list-group-item-action">Automobile</button>
        <button type="button" class="list-group-item list-group-item-action">Fashion</button>
        <button type="button" class="list-group-item list-group-item-action">Food</button>
         <!-- <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button> -->
      </div>
    </div>
  </div>
</div>