<app-header (navMenuSelected)="onNavigate($event)"></app-header>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-categories *ngIf="navMenuLoaded ==='home'"></app-categories>
      <app-sell-products *ngIf="navMenuLoaded ==='sell'"></app-sell-products>
      <app-transactions-hist *ngIf="navMenuLoaded ==='tran'"></app-transactions-hist>
      <!-- <app-recipes *ngIf="navMenuLoaded ==='sell'"></app-recipes>
      <app-shopping-list *ngIf="navMenuLoaded ==='tran'"></app-shopping-list> -->
    </div>
  </div>
</div>
